.sec-page-banner{
    position: relative;
    &:before{
       position:absolute;
       top:0px;
       left:198px;
       bottom: 0px; 
       width: 90%;
       background:linear-gradient(to right,#13223A,#204E9A);   
        margin-left: auto;
        border-radius: 0 0 0 250px;
        content: "";
        z-index: -1;
    }
    &:after{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 25.5%;
        content:"";
        background: #429DE5;
        z-index: -1;
    }
}
.medical-billing-sec{
    .servicess-cards{
        .service-crd{
            position: relative;
            z-index: 5;
            overflow: hidden;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            img{
                width: 66px;
                height:66px ;
            }
            &:hover{
                cursor: pointer;
                color: white;
                background: linear-gradient(to bottom,#27AFE8,#1890CF);
                box-shadow: 11px 16px 42px #4D4D4D3B;
                transform:  scale(1.1);
            
            }
        }
    
        &:after{
            position: absolute;
            content: "";
            top: 119px;
            left: -42px;
            width: 110%;
            height: 82%;
            box-shadow: 0px 37px 81px rgba(177, 177, 177, 0.1607843137);
            border-radius: 114px 114px 20px 11px;
            opacity: 1;
            z-index: 2;
        
        }
    }
}

.features-sec{
    
    .feature-card{
        p.feat-para{
            color: black;
            opacity: 80%;
            transition:  .3s ease-in-out; 
        }
        .feat-logo{
            // width: 94px;
            // height: 94px;
            background-color: #18B7E8;
                
        }

    &:hover{        
            background: linear-gradient(to right, #27AFE8, #1890CF);
            color: white;
        .feat-logo{
            background-color: white;
            box-shadow: 0 1px 9px rgb(172, 172, 167);    
        }
        .feat-para{
         color: white;
         opacity: 100%;
        }
          
    }
    } 
}

.effeciency-sec{
    .meeting-img{
        position: relative;
    &:after{
        position: absolute;
        top:0px;
        right: 0px;
        z-index: 3;
        content: "";
        width: 100%;
        height: 100%;
        background: #F7F7F9;
        
    }
  
    }
    .topsec{
        position: relative;
        &:before{
            position: absolute;
            top: 0px;
            bottom: 0px;
            content: "";
            background-color: #429DE5;
            height: 104%;
            width: 50%;
            z-index: -1;
        }
    }   
    .bottom-sec{
        
        position: relative;
        &:before{
            position: absolute;
            top: -40px;
            bottom: 0px;
            right: 0px;
            content: "";
            background: black;
            opacity: 2%;
            height: 120%;
            width: 50%;
            z-index: -1;
        }
        .right-side{
           
            

        }

        

    }
    
}

.lab-sec{
    .top-sec{
        background: linear-gradient(to right,#3F9BE4,#86C8FE );
        .video-icon{
            width: 100px;
            height: 115px;
            object-fit: contain;
            position: absolute;
            top: 15%;
            left: 25%;
            transform: translate(50%, 50%);
        }
    }
    .bottom-sec{
        box-shadow: 0px 37px 81px #B1B1B129 ;
    }
    ul{
        li{
            span{
                width: 80px;
                height: 80px;
                
                
                p{
                position: absolute;
                 top: 43%;
                 left: 50%;
                 transform: translate(-50%,-50%);
                }
            }
            
        }
        li:nth-child(2),li:nth-child(3){
            padding-left:10px;
            
        }
      
        
    }

}
.latest-in-halth-care{
    .top-row{
        
        p{
            color: #565656;
        }
        

    }
    .bottom-row{
        .med-crd{
            .crd-image{
                position: relative;
                img{
                    border-radius: 24px 24px 0px 0px;
                    position: relative;
                    
                }
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    content:"";
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    background: black;
                    opacity:35%;
                    border-radius: 24px 24px 0px 0px;
                }
                

            }

        }
        

    }
}
.testmonial-sec{
    .main-sec{
        position: relative;
        background: transparent linear-gradient(297deg, #204E9A 0%, #13223A 100%) 0% 0% no-repeat padding-box;
        .top-head{
        position: relative;
        
      }
      .fade-circle{
        position: absolute;
        top: -23px;
        left: -29px;
        z-index: 0;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 0.1;
      }
    }
    .testimonial-crds-rapper{
        // transform: translateX(-20%);
        .testimonial-crd{
            // color: #208FB1;
            color: white;
            background: #24B6E2 0% 0% no-repeat padding-box;
            box-shadow: 8px 30px 45px #1F1F1F45;
            border-radius: 28px;
            opacity: 1;
            p{
                max-width: 30ch;
            }
            
       
         }

    }
    


    
}


//media Quries start

@media screen and (min-wdth:1744px){
    .sec-page-banner{
        &:before{
           top:0px;
        }
    }
}
@media screen and (max-width:1744px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:198px;
            bottom: 0px; 
            width: 90%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             margin-left: auto;
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }
    }
    
}

@media screen and (max-width:1692px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:100px;
            bottom: 0px; 
            width: 90%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             margin-left: auto;
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }


    }
    
}
@media screen and (max-width:1580px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:50px;
            bottom: 0px; 
            width: 90%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             margin-left: auto;
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }


    }
    
}  
@media screen and (max-width:1470px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:30px;
            bottom: 0px; 
            width: 90%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             margin-left: auto;
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }


    }
    
}
 
@media screen and (max-width:1200px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:20px;
            bottom: 0px; 
            width: 100%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }

    }
    
} 

@media screen and (max-width:992px) {
    .sec-page-banner{
        &:before{
            position:absolute;
            top:0px;
            left:0px;
            bottom: 0px; 
            width: 100%;
            background:linear-gradient(to right,#13223A,#204E9A);   
             border-radius: 0 0 0 250px;
             content: "";
             z-index: -1;
         }


    }
    
} 

//sec page banner media end

.medical-billing-sec{
    .servicess-cards{
        .service-crd{
            z-index: 5;
            overflow: hidden;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            img{
                width: 66px;
                height:66px ;
            }
            &:hover{
                cursor: pointer;
                color: white;
                background: linear-gradient(to bottom,#27AFE8,#1890CF);
                box-shadow: 11px 16px 42px #4D4D4D3B;
                transform:  scale(1.1);
            
            }
        }
        position: relative;
        z-index:0;
        &:after{
            position: absolute;
            content: "";
            top: 119px;
            left: -42px;
            width: 110%;
            height: 82%;
            box-shadow: 0px 37px 81px rgba(177, 177, 177, 0.1607843137);
            border-radius: 114px 114px 20px 11px;
            opacity: 1;
            z-index: 2;       
        }
    }
}
@media screen and (max-width:768px) {
    .effeciency-sec{
        .topsec{
            position: relative;
            p{
                color: white;
            }
            &:before{
                width: 100%;
            }
    
        }
        .bottom-sec{
            position: relative;
            &:before{  
                height: 100%;
                width: 100%; 
            }
        }
        
    }

        .medical-billing-sec{
            .servicess-cards{
                &:after{
                    width: 110%;
                    height: 100%;
                    overflow-x: hidden;
                    left: -28px;
                  
                
                }
            }
        }
    

    
}

@media screen and (min-width:769px ) and (max-width:1200px ) {

    .medical-billing-sec{
        .servicess-cards{
            &:after{
                width: 110%;
                height: 92%;
              
            
            }
        }
    }
}


//media queries end