<section class="sec-page-banner  text-light position-relative">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-1  py-lg-5 py-md-2 py-1 " style="z-index: 2;">
                <div class="col py-lg-5 py-3 py-1 ">
                    <div class="banner-top d-flex mt-5">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="1" viewBox="0 0 74 1">
                            <line id="Line_1" data-name="Line 1" x2="73" transform="translate(0.5 0.5)" fill="none" stroke="#60ccf4" stroke-linecap="round" stroke-width="1"/>
                          </svg>
                        </span>
                        <p class="pre-head f-primary poppins-medium ">
                            Join Us In The Journey To</p>
                    </div>
                    <h1 class="banner-head text-white poppins-bold py-3 ">
                          Deliver An Amazing <br>
                        <span class="f-primary">Patient Experience</span>
                    </h1>
                    <p class="text-white  poppins-medium mt-2  ">
                        Vbs is the highest reviewed revenue cycle management company in the nation. Our customers enjoy excellent communication, fast response times, best-in-class claims handling, and outstanding follow-up and management of denied claims.
                    </p>
                    <div class="py-lg-4 py-3 ms-lg-4 ms-xl-0 ">
                        <button class="my-btn poppins-light  par3 my-xl-5  ">
                            Appointment
                            <span class="ps-2 "><i class="fa fa-arrow-right par2"></i></span>
                         </button>
                    </div>
                     
                </div>
                <div class="col  d-flex justify-content-center align-items-center py-md-0 my-lg-0 my-3 py-4" style="z-index: 2;">
                    <div class="banner-image col-md-9 col-lg-12  col-8 d-flex justify-content-center    ">
                        <img src="../../../assets/images/home-baner-image.png " class="img-fluid"  alt="">
    
                    </div>
                   
                 </div>
            </div>
        </div>
</section>
<section class="medical-billing-sec py-5">
    <div class="container">
        <div class="row py-5 justify-content-center align-items-center">
            <div class="col-xl-12 col-xxl-10 col-12 ">
                <div class="servicess-cards">
                    <div class="container-fluid">
                        <div class="row  row-cols-xl-3 row-cols-md-2 row-cols-1  justify-content-center  gy-5 ">
                            <div class="col">
                                <div class="service-crd sml-crd px-3 py-4">
                                    <div class="crd-img  resp-image d-flex justify-content-center align-items-center  ">
                                        <img src="../../../assets/images/sevice1.png" alt="">
                                    </div>
                                    <h5 class="crd-heading poppins-bold head3 py-md-2 py-1">
                                        Medical Billing Services
                                    </h5>
                                    <p class="crd-info poppins-regular par2 py-md-2 py-1">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam unde aperiam veritatis hic dolore sequi eos. Eveniet officiis autem eius ipsum in, a voluptas voluptate accusamus. Voluptas, quam totam.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="service-crd sml-crd px-3 py-4">
                                    <div class="crd-img  resp-image d-flex justify-content-center align-items-center ">
                                        <img src="../../../assets/images/website.png" alt="">
                                    </div>
                                    <h5 class="crd-heading poppins-bold head3 py-md-2 py-1">
                                        Medical Coding Services
                                    </h5>
                                    <p class="crd-info poppins-regular par2 py-md-2 py-1">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam unde aperiam veritatis hic dolore sequi eos. Eveniet officiis autem eius ipsum in, a voluptas voluptate accusamus. Voluptas, quam totam.
                                    </p>
                                </div>
    
                            </div>
                            <div class="col">
                                <div class="service-crd sml-crd px-3 py-4">
                                    <div class="crd-img  resp-image d-flex justify-content-center align-items-center vs ">
                                        <img src="../../../assets/images/service3.png" alt="">
                                    </div>
                                    <h5 class="crd-heading poppins-bold head3 py-md-2 py-1">
                                        Medical Billing Services
                                    </h5>
                                    <p class="crd-info poppins-regular par2 py-md-2 py-1">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam unde aperiam veritatis hic dolore sequi eos. Eveniet officiis autem eius ipsum in, a voluptas voluptate accusamus. Voluptas, quam totam.
                                    </p>
                                </div>
                                
    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</section>
<section class="lab-sec py-5">
    <div class="top-sec py-5">
        <div class="d-flex justify-content-center my-5">
            <div class="col-lg-8 col-xl-6 col-md-10 col-12 text-center">
                <h2 class="med-head  poppins-bold text-white">
                    We Focus On Your Collections
                     </h2>
                     <h2 class="med-head  poppins-bold text-white">
                        So You Can Stay Focused On Patients
                     </h2>   
            </div>
        </div>         
         <div class="container">
             <div class="row  row-cols-lg-2 row-cols-1 gy-3 ">
                 <div class="col">
                    <div class="position-relative ">
                        <img src="../../../assets/images/national-cancer-institute-uVnRa6mOLOM-unsplash.png" alt="" class="resp-image position-relative ">
                         <span class="video-icon">
                            <img src="../../../assets/images/video-icon.svg"  alt="" class="resp-image">
                         </span>
                    </div>
                </div>
                 <div class="col">
                    <ul class="list-unstyled">
                         <li class="d-flex align-items-center ">
                            <!-- <span class="icon-dimension1 bg-light  text-primary border-black">1</span> -->
                            <span class="position-relative ">
                                <img src="../../../assets/images/list-circle.svg"  alt=""   class="resp-image">
                                <p class="f-primary para1 poppins-bold">1</p>
                            </span>
                           
                            <div class="col-lg-8 col-md-10 col-11">
                                <p class="poppins-medium par1 text-light ">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Dolor sit amet consectetur adipisicing. </p>
                            </div>
    
                        </li>
                        <li class="d-flex align-items-center ">
                            <!-- <span class="icon-dimension1 bg-light  text-primary border-black">1</span> -->
                            <span class="position-relative ">
                                <img src="../../../assets/images/list-circle.svg"  alt=""   class="resp-image">
                                <p class="f-primary para1 poppins-bold" >2</p>
                            </span>
                           
                            <div class="col-lg-8 col-md-10 col-11">
                                <p class="poppins-medium par1 text-light ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            </div>
    
                        </li>
                        <li class="d-flex align-items-center ">
                            <!-- <span class="icon-dimension1 bg-light  text-primary border-black">1</span> -->
                            <span class="position-relative ">
                                <img src="../../../assets/images/list-circle.svg"  alt=""   class="resp-image">
                                <p class="f-primary para1 poppins-bold" >3</p>
                            </span>
                           
                            <div class="col-lg-8 col-md-10 col-11">
                                <p class="poppins-medium par1 text-light ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            </div>
    
                        </li>
                        <li class="d-flex align-items-center ">
                            <!-- <span class="icon-dimension1 bg-light  text-primary border-black">1</span> -->
                            <span class="position-relative ">
                                <img src="../../../assets/images/list-circle.svg"  alt=""   class="resp-image">
                                <p class="f-primary para1 poppins-bold" >4</p>
                            </span>
                           
                            <div class="col-lg-8 col-md-10 col-11">
                                <p class="poppins-medium par1 text-light ">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Dolor sit amet consectetur adipisicing. </p>
                            </div>
    
                        </li>
                    </ul>
                 </div>
             </div>
         </div>
    </div>
    <div class="bottom-sec py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row  justify-content-sm-between justify-content-around   gy-2">
                    <div class="col-lg-3 ">
                        <div class="facts-info ">
                            <p class="arno-semibold" >We always try to serve the best service for you.</p>

                        </div>
                    </div>
                    <div class="col col-md-auto col-sm-4 ">
                        <div class="fact-img d-flex justify-content-center  align-items-cente" style="box-sizing:border-box;">
                             <h3 class="counter  counter-style" data-target="500">
                                500
                             </h3>
                             
                        </div>
                        <div class="fact-desc">
                            <p class="poppins-medium fs-5">Special Vehicle</p>
                        </div>
                    </div>
                    <div class="col col-md-auto col-5">
                        <div class="fact-img d-flex gy-5">
                             <h3 class="counter counter-style" data-target="25,000">
                                25,000
                             </h3>
                             
                             
                        </div>
                        <div class="fact-desc">
                            <p class="poppins-medium fs-5">People Pickup</p>

                        </div>
                    </div>
                    <div class="col col-md-auto col-5 ">
                        <div class="fact-img">

                           
                            <h3 class="counter counter-style" data-target="19,000"> 19,000 </h3>
                            
                        </div>
                        <div class="fact-desc ">
                            <p class="poppins-medium fs-5 ">Road Trips Done</p>


                        </div>
                    </div>
                    <div class="col col-md-auto col-5 ">
                        <div class="fact-img">
                            <h3 class="counter counter-style" data-target="30,000">30,000</h3>
                            
                        </div>
                        <div class="fact-desc">
                            <p class="poppins-medium fs-5"> Satisfied Clients</p>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
 </section>

<section class="features-sec my-5">
    <div class="container">
        <div class="row justify-content-center py-5 ">
            <div class="col-lg-7 col-md-10 col-11 text-center   "> 
                <h2 class="poppins-bold head2 text-dark">Key Features</h2>
                <p class="poppins-light par1 py-3 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque minima amet tempore recusandae ipsa ipsum repudiandae, tempora saepe magni quis? Excepturi labore aperiam minima sunt repellat odio! Aliquam, beatae voluptatibus?</p>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row row-cols-md-2 row-cols-1 gy-4 ">
        <div class="col ">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/fet1.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
            </div>
        </div>
        <div class="col ">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat2.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
        <div class="col ">
            <div class="feature-card px-5 py-3 med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat3.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                
            </div>
        </div>
        <div class="col">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat4.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
        <div class="col">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat5.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
        <div class="col">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat6.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
        <div class="col">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat7.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
        <div class="col">
            <div class="feature-card px-5 py-3   med-crd">
                <div class="feat-logo icon-dimension1   ">
                    <img src="../../../assets/images/feat8.png"  alt="" class="icon-dimension2"  >
                </div>
                <h5 class="poppins-semibold par1 py-3 ">
                    Claim Scrubbing
                </h5>
                <p class="feat-para poppins-semibold py-lg-2 par2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta excepturi voluptatem asperiores nulla facere error maiores laborum veniam ea. 
                </p>
                

            </div>
        </div>
    </div>

</div>
</section>

<section class="effeciency-sec py-5">
    <div class="topsec">
        <div class="container">
            <div class="row row-cols-md-2 row-cols-1">
                <div class="col">
                  <p class="poppins-bold head2 py-3 text-white">Experience The Difference Bellmedex Medical Billing Company.</p>
                </div>
                <div class="col">
                    <p class="poppins-medium par2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus molestiae aspernatur a architecto voluptatum blanditiis! Voluptates quo beatae totam obcaecati perspiciatis autem nam, magnam minus quasi eos, veritatis incidunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus molestiae aspernatur a architecto voluptatum blanditiis! Voluptates quo beatae totam obcaecati perspiciatis autem nam, magnam minus quasi eos, veritatis incidunt.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>        
                </div>
             </div>
             <div class="row">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="position-relative ">
                        <img src="../../../assets/images/meeting.png" alt="" class="resp-image meeting-img ">
                    </div>
                </div>
             </div>
          
           
        </div>

    </div>
    <div class="bottom-sec">
        <div class="container">
             <div class="row row-cols-md-2 row-cols-1 gy-2 ">
                <div class="col py-5 d-flex align-items-center ">
                    <div class="col-md-11 col-lg-9 col-sm-10 ">
                        <img src="../../../assets/images/PngItem_5257997.png" alt="" class="resp-image">    
                    </div>
                </div>
                <div class="col">
                    <div class="right-side">
                        <h5 class="poppins-bold par1 mt-4">Quality Revenue Cycle Management</h5>
                        <p class="poppins-medium par3 py-1 dim-color  ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi mollitia voluptas, consequuntur ratione maiores in esse consectetur dolorum, minima quod quia obcaecati eveniet, tempore nesciunt excepturi? Autem, pariatur veritatis?</p>
                        <h5 class="poppins-bold par1 mt-4">Quality Revenue Cycle Management</h5>
                        <p class="poppins-medium par3 py-1 dim-color ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi mollitia voluptas, consequuntur ratione maiores in esse consectetur dolorum, minima quod quia obcaecati eveniet, tempore nesciunt excepturi? Autem, pariatur veritatis?</p>
                        <h5 class="poppins-bold par1 mt-4">Quality Revenue Cycle Management</h5>
                       <p class="poppins-medium par3 py-1 dim-color  ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi mollitia voluptas, consequuntur ratione maiores in esse consectetur dolorum, minima quod quia obcaecati eveniet, tempore nesciunt excepturi? Autem, pariatur veritatis?</p>               
                    </div>
                    
                </div>
             </div>
        </div>
    
    </div>

     
</section>



