<footer>
  <div class="subscriber-row py-5">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-1 ">
        <div class="col">
          <h5 class="poppins-semibold text-white head2 ">
            Subscribe To Our Newsletter
          </h5>
        </div>
        <div class="col">
          <form action="">
            <div class="form-input d-flex justify-content-lg-end position-relative">
              <input  type="text" class="form-control-lg border-0 col-lg-7 col-12 poppins-regular" name="" id="" placeholder="Email Address">
              <button class="primary-bg border-0 bg-info text-white rounded-3 px-3 poppins-semibold text-center ">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer py-5">
    <div class="container">
      <div class="row row-cols-2 row-cols-md-4   ">
        <div class="col">
          <div class="vbslogo">
            <img src="../../../assets/images/footerlogo.png" alt="src not found" class="resp-image">
          </div>
          <p class="poppins-medium par2 mt-lg-2 ">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
          </p>
        </div>
        <div class="col pt-5 ps-md-5 ps-sm-5  ">
          <h6 class="par1 raleway-extrabold">Quick links</h6>
          <ul>
            <li ><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col pt-5 ">
          <h6 class="par1 raleway-extrabold">Quick links 2</h6>
          <ul>
            <li ><a href="#">Services</a></li>
            <li><a href="#">Portfolio </a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="col pt-5 ps-sm-5 ">
          <h6 class="par1 raleway-extrabold">Contact us</h6>
          <ul >
            <li ><a href="#"><i class="fa fa-phone pe-2"></i>2344 2334 2345 234</a></li>
            <li><a href="#"><i class="fa fa-envelope pe-2 "></i>vitalbilling@gmail.com </a></li>
            <li class="d-flex mt-lg-3">
              <a href="#">
              <span class="vbslogo">
                <img src="../../../assets/images/rating.png" class="resp-image" alt="">
              </span>
            </a>
             <a href="">
              <span class="vbslogo">
                <img src="../../../assets/images/google.png" class="resp-image" alt="">
              </span>
            </a>
            </li> 
            <li class="d-flex gap-4 mt-lg-3 ">
              <a href="#">
                <img src="../../../assets/images/Icon feather-facebook.png" alt="">
              </a>
              <a href="#">
                <img src="../../../assets/images/Icon feather-instagram.png" alt="">
              </a>
              <a href="#">
                <img src="../../../assets/images/Icon feather-twitter.png" alt="">
              </a>
              <a href="#">
                <img src="../../../assets/images/Icon feather-youtube.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
 <div class="copy-right-row d-flex justify-content-center  align-items-center py-3 ">
   <h6 class="poppins-medium par2">Copyrights © 2023 All Rights Reserved</h6>
 </div>
 
</footer>