<footer>
    <div class="container">
        <div class="row">
          <div class="col">
            

          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
</footer>
<div class="banner-grad h-100 p-5">
    <p class="text-light ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea earum aut id exercitationem enim praesentium! Nobis aspernatur ut perferendis neque commodi mollitia beatae quos alias sint! Beatae, delectus perspiciatis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perferendis, molestias maxime voluptate voluptatem consequatur dolor autem voluptates quo veniam tenetur voluptatibus esse adipisci error fugit, maiores blanditiis commodi numquam.
    </p>
</div>