footer{
    .subscriber-row{
        background:linear-gradient(to right, #3F9BE4,#66B4F2,#86C8FE);
        form{
            .form-input{
                input{
                    position: relative;
                    border-radius: 14px;
                    font-size: 18px;
                    &::placeholder{
                        color:#373737;
                        opacity: 60%;
                    }
                    &:active,
                    &:focus-visible{
                        border:1px #3F9BE4 !important   ;
                    }
                }
                button{
                    position: absolute;
                    background:linear-gradient(to right,#3F9BE4,#86C8FE);
                    top: 13%;
                    bottom: 13%;
                    right: 1%;
                    box-shadow: 0px 42px 90px #00000019;
                    border-radius: 14px;
                    opacity: 1;
                    cursor: pointer;

    
    
                }
            }
        }
    }
  
}
