<footer class="my-5">
  <div class="subscriber-row py-5">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-1 ">
        <div class="col">
          <h5 class="poppins-semibold text-white head2 ">
            Subscribe To Our Newsletter
          </h5>
        </div>
        <div class="col">
          <form action="">
            <div class="form-input d-flex justify-content-lg-end position-relative">
              <input  type="text" class="form-control-lg border-0 col-lg-7 col-12 poppins-regular" name="" id="" placeholder="Email Address">
              <button class="primary-bg border-0 bg-info text-white rounded-3 px-3 poppins-semibold text-center ">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>