/* You can add global styles to this file, and also import other style files */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
$base-font-size:1em;
$f-fade:#333333;
$f-dark:#414141;
$f-primary:#24B5E2;
@font-face {
    font-family:'Poppins-Medium';
    src: url('./assets/Fonts/Poppins-1/Poppins-Medium.ttf');
}
@font-face {
    font-family:'poppins-Bold';
    src: url("./assets/Fonts/Poppins-1/Poppins-Bold.ttf");
}
@font-face {
    font-family:'poppins-extrabold';
    src: url("./assets/Fonts/Poppins-1/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family:'poppins-semibold';
    src: url('./assets/Fonts/Poppins-1/Poppins-SemiBold.ttf');
}   
@font-face {
    font-family:'poppins-italic';
    src: url("./assets/Fonts/Poppins-1/Poppins-Italic.ttf");
}
@font-face {
    font-family:'Poppins-Light';
    src: url("./assets/Fonts/Poppins-1/Poppins-Light.ttf");
}

.poppins-medium{
    font-family:'Poppins-Medium';
}
.poppins-semibold{
    font-family:'poppins-semibold';
}
.poppins-bold{
    font-family:'poppins-Bold';
}
.poppins-extrbold{
    font-family:'poppins-extrabold';
}
.poppins-italic{
    font-family:'poppins-italic';
}
.poppins-light{
    font-family:'Poppins-Light';
}

.banner-grad{
 background:linear-gradient(to right,#13223A,#204E9A);   
 opacity: 1;
 border: 1px solid #707070;
 border-radius: 0px 0px 0px 250px;
 
}
.banner-right{
    color: #429DE5;
}
.f-primary{
    color: $f-primary;
}
.vbslogo{
    width: 10.2em;
    height:6.5em;        
}
.resp-image{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.banner-head{
    font-size: 3em;
}

.banner-par{
    font-size: 1.125em;
}
.head1{
    font-size: 3.25em;    
    font-family: "poppins-bold";
}
.head2{
    font-size:1.4375em;
    font-family:"popsemibold";

}
.navtxt{
    font-size:1.4em;
}
.pre-head{
  font-size: 1.5em;
}

.par1{
    font-size:1em;   
}
.par2{
    font-size:0.9em ;
}
.par3{
   font-size:0.8em;
}
.sml-font{
    font-size:0.7em;
}
.esml-font{
 font-size:0.6em;
}
.my-btn{
    background: linear-gradient(to right,#25BCEA,#208FB1);
    font-size: 1em;
    font-family:'poppins-semibold';
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 5px 8px #18B7E872; 
    border-radius: 28px;
    opacity: 1;
    padding: 11px 25px;     
}
// @media screen  {
    
// }
// .banner-curtain{
//   object-fit: contain;

// }